<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:annotation="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.powernode.web" />
    <annotation:annotation-driven />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    </bean>
    
    <annotation:interceptors>
        <annotation:interceptor>
            <annotation:mapping path="/*" />
            <annotation:exclude-mapping path="/index.html" />
            <annotation:exclude-mapping path="/login.jsp" />
            <bean class="com.powernode.web.LoginInterceptor" />
        </annotation:interceptor>
    </annotation:interceptors>
</beans>