<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.web.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.powernode.web.domain.Activity">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="owner" jdbcType="CHAR" property="owner" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="startDate" jdbcType="CHAR" property="startDate" />
    <result column="endDate" jdbcType="CHAR" property="endDate" />
    <result column="cost" jdbcType="VARCHAR" property="cost" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createTime" jdbcType="CHAR" property="createTime" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="editTime" jdbcType="CHAR" property="editTime" />
    <result column="editBy" jdbcType="VARCHAR" property="editBy" />
  </resultMap>
  <sql id="selectAll">select id, owner, name, startDate, endDate, cost, description, createTime, createBy, editTime, editBy from t_activity</sql>

  <insert id="updateActivity" parameterType="Activity">
    insert into t_activity
    values(#{id}, #{owner}, #{name}, #{startDate}, #{endDate}, #{cost}, #{description}, #{createTime}, #{createBy}, NULL, NULL)
  </insert>
</mapper>