<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.web.mapper.ActivityRemarkMapper">
  <resultMap id="BaseResultMap" type="com.powernode.web.domain.ActivityRemark">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="noteContent" jdbcType="VARCHAR" property="noteContent" />
    <result column="createTime" jdbcType="CHAR" property="createTime" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="editTime" jdbcType="CHAR" property="editTime" />
    <result column="editBy" jdbcType="VARCHAR" property="editBy" />
    <result column="editFlag" jdbcType="CHAR" property="editFlag" />
    <result column="activityId" jdbcType="CHAR" property="activityId" />
  </resultMap>
  <sql id="selectAll">select id, noteContent, createTime, createBy, editTime, editBy, editFlag, activityId from t_activity_remark</sql>
  <select id="selectCountByActivityIds" resultType="_long">
    select count(*) from t_activity_remark
    <where>
      activityId in <foreach collection="aids" item="aid" separator="," open="(" close=")">#{aid}</foreach>
    </where>
  </select>
  <delete id="deleteByActivityIds" parameterType="list">
    delete from t_activity_remark where activityId = '-' or activityId in<foreach collection="aids" separator="," open="(" close=")" item="aid">#{aid}</foreach>
  </delete>
</mapper>