<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.web.settings.mapper.ContactsActivityRelationMapper">
  <resultMap id="BaseResultMap" type="com.powernode.web.settings.domain.ContactsActivityRelation">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="contactsId" jdbcType="CHAR" property="contactsid" />
    <result column="activityId" jdbcType="CHAR" property="activityid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_contacts_activity_relation
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.powernode.web.settings.domain.ContactsActivityRelation">
    insert into t_contacts_activity_relation (id, contactsId, activityId
      )
    values (#{id,jdbcType=CHAR}, #{contactsid,jdbcType=CHAR}, #{activityid,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.powernode.web.settings.domain.ContactsActivityRelation">
    update t_contacts_activity_relation
    set contactsId = #{contactsid,jdbcType=CHAR},
      activityId = #{activityid,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, contactsId, activityId
    from t_contacts_activity_relation
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, contactsId, activityId
    from t_contacts_activity_relation
  </select>
</mapper>